<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Johann Barlach's Resume & Portfolio</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- jQuery -->
	<script src="./js/jquery.min.js"></script>
	
	<!-- Bootstrap -->
	<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="./bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<script src="./bootstrap/js/bootstrap.min.js"></script>
	
	<!-- Glyphicons -->
	<link href="./css/glyphicons.css" rel="stylesheet" media="screen">

	<!-- Plugins -->
	<script src="./js/jquery.easing.1.3.js"></script>
	<script src="./js/jquery.isotope.min.js"></script>
	<script src="./js/jquery.ba-resize.min.js"></script>
	
	<link href="./css/jquery.fancybox-1.3.4.css" rel="stylesheet" media="screen">
	<script src="./js/jquery.fancybox-1.3.4.pack.js"></script>
	
	<script src="./js/klass.min.js"></script>
	<script src="./js/code.photoswipe.jquery-3.0.4.min.js"></script>
	<link href="./css/photoswipe.css" rel="stylesheet" media="screen">
	
	<!-- Theme -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald|Droid+Sans|Yanone+Kaffeesatz|Droid+Serif|Ubuntu|Lobster|Francois+One|Arvo|Changa+One|Rokkitt|Nunito|Bitter|Merriweather|Raleway|Pacifico|Josefin+Sans|Questrial|Cantarell|Norican|Vollkorn|Quicksand|Limelight|Cantata+One|Bree+Serif|Oleo+Script|Playfair+Display|Quattrocento+Sans|Berkshire+Swash|Passion+One|Cuprum' rel='stylesheet' type='text/css'>
	<link href="./style.css" rel="stylesheet" media="screen">
		
	<!-- Skin -->
	<link type="text/css" rel="stylesheet/less" href="./css/skin.less" media="screen">
	<!-- LESS.js -->
	<script src="./js/less-1.3.3.min.js"></script>
	
	<script src="./js/scripts.js"></script>
	

	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="./css/ie.css" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- PRINT CSS -->
	<link type="text/css" rel="stylesheet" href="./css/print.css" media="print">
	
</head>

<body class="backgrounded" data-spy="scroll" data-target=".sidebar-nav">
		
<div class="navbar navbar-inverse navbar-fixed-top visible-phone noprint" id="phone-navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="#">Johann Barlach</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="#about-me" class="scroller">About me</a></li>
					<li><a href="#personal-information" class="scroller">Personal Info</a></li>
					<li><a href="#employment" class="scroller">Employment</a></li>
					<li><a href="#education" class="scroller">Education</a></li>
					<li><a href="#skills" class="scroller">Skills & Expertise</a></li>
					<li><a href="#portfolio" class="scroller">Portfolio</a></li>
					<li><a href="#blog" class="scroller">Blog</a></li>
					<li><a href="#hobbies" class="scroller">Interests</a></li>
					<li><a href="#contact" class="scroller">Contact</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div><!--/#phone-navbar -->

<div class="container">
      <div class="row" id="content">
      	
      	
      	<!-- If you want the sidebar placed on the left, place it just after this and change the sbright class by sbleft -->
      	<!-- Sidebar placed on the RIGHT of the screen -->
        <div class="span3 sbleft noprint" id="sidebar">
          <div class="sidebar-nav equal hidden-phone">
            <ul class="nav nav-list affix" id="resumenav">
              <li><a href="#about-me" class="scroller">About me</a></li>
              <li><a href="#personal-information" class="scroller">Personal Info</a></li>
              <li><a href="#employment" class="scroller">Employment</a></li>
              <li><a href="#education" class="scroller">Education</a></li>
              <li><a href="#skills" class="scroller">Skills & Expertise</a></li>
              <li><a href="#portfolio" class="scroller">Portfolio</a></li>
              <li><a href="#blog" class="scroller">Blog</a></li>
              <li><a href="#hobbies" class="scroller">Interests</a></li>
              <li><a href="#contact" class="scroller">Contact</a></li>
            </ul>
          </div><!--/sidebar-nav -->
          <span class="clear"></span>
        </div><!--/span3 -->

        <!-- MAIN CONTENT -->
        <div class="span9 equal" id="main-content">
        
        	<div class="tools noprint visible-desktop">
				<a href="javascript:if(window.print)window.print()" title="Print" data-placement="bottom" class="tips glyphicons print"><i></i></a>
				<a href="#" title="Download" data-placement="bottom" class="tips glyphicons file_import"><i></i></a>
			</div>

        
        	<div class="section first-section" id="about-me">
	            <div class="row author">
	            	<div class="span3">
	            		<img class="img-rounded" src="./images/portrait.jpg" alt="">
	            	</div>
	            	<div class="span6">
				    	<h1>Johann Barlach</h1><br/>
				   		<h2 class="primary-color">Entrepreneur</h2>
				   	</div>
				</div>
						
				
				<div class="well">
					<h3>COO & Co-founder @<a href="http://www.cobarsystems.com"> Cobar Systems</a></h3>
					<p class="lead">Johann Barlach studied Entrepreneurship & Management at Northeastern University. He previously worked as a Business Continuity Analyst for Wellington Management and has had prior experience in the start-up world, working on a collaborative e-reading application called Slicebase. He is an innovative thinker who enjoys the challenge of growing an idea into a business. </p>
				</div>
				
				<div class="social-media noprint">
					<h5>Follow me</h5>
					<div>
						<div class="tips icon-btn" title="Facebook" data-placement="bottom"><a href="https://www.facebook.com/jbarlach" class="glyphicons white facebook"><i></i></a></div>
						<div class="tips icon-btn" title="Twitter" data-placement="bottom"><a href="https://twitter.com/CobarSystems" class="glyphicons white twitter"><i></i></a></div>
						<div class="tips icon-btn" title="Linkedin" data-placement="bottom"><a href="http://www.linkedin.com/pub/johann-barlach/41/775/571/" class="glyphicons white linked_in"><i></i></a></div>
					</div>
				</div>		
			</div><!--/section--> 
            
            <div class="section" id="personal-information">
	            <h2 class="section-title"><span class="glyphicons user"><i></i></span>Personal Information<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
				
				<div class="row">
	        		<div class="infoline span9 first"><div class="row">
	            		<div class="span2 muted">Date of birth</div>
	            		<div class="span7">7 February </div>
				  	</div></div>
				  	<span class="clear"></span>
				  	
	        		<div class="infoline span9"><div class="row">
					  	<div class="span2 muted">Address</div>
					  	<div class="span7">
					  		85 Park Drive #9<br/>
					  		02215 Boston, MA<br/>
					  		USA
					  	</div>
					</div></div>
				  	<span class="clear"></span>
				  	
	        		<div class="infoline span9"><div class="row">
				  		<div class="span2 muted">Email</div>
				  		<div class="span7">johann_barlach@cobarsystems.com <br> barlach.j@husky.neu.edu</div>
				  	</div></div>
				  	<span class="clear"></span>
				  	
	        		<div class="infoline span9"><div class="row">
					  	<div class="span2 muted">Phone</div>
					  	<div class="span7">
					  		+1 (617) 794 8740
					  	</div>
					</div></div>
				  	<span class="clear"></span>
				  	
	        		<div class="infoline span9 last"><div class="row">
					  	<div class="span2 muted">Website</div>
					  	<div class="span7"><a href="http://www.cobarsystems.com" title="">www.cobarsystems.com</a></div>
					</div></div>
				  	<span class="clear"></span>
			  
			  	</div>
		  	</div><!--/section--> 
		  	
		  	<div class="section" id="employment">
			  	<h2 class="section-title"><span class="glyphicons share_alt"><i></i></span>Employment<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
			  	
			  	<div class="timeline">
			  		
		  			 <div class="timeline-item">
		  			 	<div class="timeline-item-date">Present</div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_minus" data-toggle="collapse" data-target="#position1"><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title" data-toggle="collapse" data-target="#position1">Cobar Systems, Boston MA USA.</h3>
							<div class="collapse in" id="position1">
								<p><small class="muted">October 2011 - Present</small></p>
								<h4 class="media-heading primary-color">COO & Co-founder</h4>
								<p>Cobar Systems is a software, IT services company that provides web based solutions for businesses in the field of continuity management and disaster recovery. We develop intuitive and easy to use software that reduces ancillary business operations so that our clients can focus on their core activities.</p>	
								<p><a href="http://www.cobarsystems.com" title="" class="noprint">&rarr; View Website</a></p>
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
					 
					 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2011</div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position2"><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title" data-toggle="collapse" data-target="#position2">Wellington Management, Boston MA USA.</h3>
							<div class="collapse" id="position2">
								<p><small class="muted">July 2011 - December 2011</small></p>
								<h4 class="media-heading primary-color">Business Continuity Analyst</h4>
								<p>With approximately US$758 billion in client assets under management, Wellington Management serves as an investment advisor to more than 2,100 institutions located in over 50 countries.</p>	
								<p><a href="http://www.wellington.com/" title="" class="noprint">&rarr; View Website</a></p>
							</div>
						</div>
					 </div><!--/timeline-item--> 

					  <span class="clear"></span>
					 
					 <div class="timeline-item">
		  			 	<div class="timeline-item-date">20011</div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position3"><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title" data-toggle="collapse" data-target="#position3">Slicebase Hamburg, Germany.</h3>
							<div class="collapse" id="position3">
								<p><small class="muted">Dec 2009 - Feb 2011</small></p>
								<h4 class="media-heading primary-color">Co-founder</h4>
								<p> Slicebase was a start-up that set out to develop a web-based e-reading platform for students to collaborate better on reading assinments. It was discontinued in Feb 2011.</p>
							</div>
						</div>
					 </div><!--/timeline-item--> 

					 <span class="clear"></span>
					 
					 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2009</div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#position4"><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title" data-toggle="collapse" data-target="#position4">Fine Art Foundry Noak Berlin, Germany.</h3>
							<div class="collapse" id="position4">
								<p><small class="muted">February 2009 - March 2009</small></p>
								<h4 class="media-heading primary-color">Intern</h4>
								<p> Noack is the most important bronze-casting foundry in Germany. Since its founding in 1897, four generations of this Berlin family business have cultivated close relationships with reknown artists </p>
								<p><a href="http://www.noack-bronze.com" title="" class="noprint">&rarr; View Website</a></p>
							</div>
						</div>
					 </div><!--/timeline-item--> 
		  			 
			  	</div><!--/timeline --> 
			</div><!--/section-->
		  	
		  	
		  	<div class="section" id="education">
			  	<h2 class="section-title"><span class="glyphicons certificate"><i></i></span>Education<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
			  	
			  	<div class="timeline">
			  		
		  			 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2013</div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_minus" data-toggle="collapse" data-target="#education1"><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title" data-toggle="collapse" data-target="#education1">Northeastern University Boston, MA USA.</h3>
							<div class="collapse in" id="education1">
								<p><small class="muted">2009 - 20013</small></p>
								<h5 class="media-heading primary-color">D’Amore-McKim School of Business</h5>
								<p><li>Bachelor of Science Degree in Business Administration (August 2013)</li>
								<li>Focus: Entrepreneurship & Management</li>
								<li>Activities: IDEA Venture Accelerator, Entrepreneurship Club, Beijing Summer Abroad Program (2010), Dominican Republic Microfinance Capstone Trip (2010)</li>
								</p>	
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
					 
					  <div class="timeline-item">
		  			 	<div class="timeline-item-date">2008</div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#education2"><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title" data-toggle="collapse" data-target="#education2">International School Hamburg, Germany. </h3>
							<div class="collapse" id="education2">
								<p><small class="muted">1996 - 2008</small></p>
								<h5 class="media-heading primary-color">International Baccalaureate diploma (July 2008)</h5>
								 <p> <li>High School diploma (July 2008)</li>
								 		<li>Student Council Class Representative (2008)</li>
								 			<li>Computer Club Administrator (2008)</li>
								 	</p>	
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>

					 <div class="timeline-item">
		  			 	<div class="timeline-item-date">2007</div>
		  			 	<div class="timeline-item-trigger"><span class="glyphicons white circle_plus" data-toggle="collapse" data-target="#education3"><i></i></span></div>
		  			 	<div class="timeline-arrow"><i></i></div>
		  			 	<div class="timeline-item-content">
							<h3 class="timeline-item-title" data-toggle="collapse" data-target="#education3">Business Leadership Course Oxford, United Kingdom.</h3>
							<div class="collapse" id="education3">
								<p><small class="muted">June 2007</small></p>
								<h5 class="media-heading primary-color"> </h5>
								 <p> <li><h5>Enhanced business leadership skills</h5></li></p>	
							</div>
						</div>
					 </div><!--/timeline-item--> 
					 <span class="clear"></span>
			  	</div><!--/timeline --> 
		  	
		  	</div><!--/section-->
		  	
		  	
		  	<div class="section skills" id="skills">
		  		<h2 class="section-title"><span class="glyphicons cogwheels"><i></i></span>Skills & Expertise<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>

			  	<h3>Languages</h3>
			  	
			  	<div class="row">
			  		<div class="span2">English</div>
			  		<div class="span3">
			  			<span class="printonly">Fluent</span>
			  			<div class="progress">
	   						<div class="bar" style="width: 100%;"></div>
	    				</div>
			  		</div>
			  	</div>
			  	
			  	<div class="row">
			  		<div class="span2">German</div>
			  		<div class="span3">
			  			<span class="printonly">Fluent</span>
			  			<div class="progress">
	   						<div class="bar" style="width: 100%;"></div>
	    				</div>
			  		</div>
			  	</div>
			  	
			  	<div class="row">
			  		<div class="span2">French</div>
			  		<div class="span3">
			  			<span class="printonly">Beginner</span>
			  			<div class="progress">
	   						<div class="bar" style="width: 15%;"></div>
	    				</div>
			  		</div>
			  	</div>
			  	
			  	<hr/>
			  				  	
			  	<h3>Software</h3>
			  	
			  	<div class="row">
			  		<div class="span2">Programming Languages</div>
			  		<div class="span7">
			  			<span class="label">HTML5</span>
			  			<span class="label">CSS3</span>
			  			<span class="label">JavaScript</span>
			  			<span class="label">Node</span>
			  		</div>
			  	</div>
			  	<span class="spacer"></span>
			  	<div class="row">
			  		<div class="span2">CMS</div>
			  		<div class="span7">
			  			<span class="label">WordPress</span>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span2">Graphic Design Tools</div>
			  		<div class="span7">
			  			<span class="label">Adobe Photoshop</span>
			  			<span class="label">Adobe Illustrator</span>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span2">Business Software</div>
			  		<div class="span7">
			  			<span class="label">Share Point</span>
			  			<span class="label">LDRPS</span>
			  			<span class="label">Microsoft Office</span>
			  			<span class="label">Goodle Apps</span>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span2">Operating Systems</div>
			  		<div class="span7">
			  			<span class="label">Windows</span>
			  			<span class="label">Mac OS</span>
			  			<span class="label">Linux (Ubuntu)</span>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span2">IDE's</div>
			  		<div class="span7">
			  			<span class="label">Sublime Text 2</span>
			  			<span class="label">Aptana</span>
			  		</div>
			  	</div>
			  	<div class="row">
			  		<div class="span2">Other Tools</div>
			  		<div class="span7">
			  			<span class="label">Github</span>
			  			<span class="label">HipChat</span>
			  			<span class="label">Google Maps Geocoder</span>
			  			<span class="label">Cloudflare</span>
			  			<span class="label">Appfog</span>

			  		</div>
			  	</div>
			  				  	
			  	<h3>Management</h3>
			  	
			  	<div class="row">
			  		<div class="span2">Experience</div>
			  		<div class="span7">
			  			<span class="label">Project Planning</span>
			  			<span class="label">Team Building</span>
			  			<span class="label">Freelance Management</span>
			  			<span class="label">Mediation</span>

			  		</div>
			  	</div>

			  	<h3>Entrepreneurship</h3>
			  	
			  	<div class="row">
			  		<div class="span2">Experience</div>
			  		<div class="span7">
			  			<span class="label"></span>
			  			<span class="label">Leadership</span>
			  			<span class="label">Budgeting</span>
			  			<span class="label">Product Development</span>
			  			<span class="label">Microfinance</span>

			  		</div>
			  	</div>
			  	
			  	
		  	</div><!--/section-->
		  	


			
			<div class="section clearfix noprint" id="portfolio">
				<h2 class="section-title"><span class="glyphicons show_thumbnails"><i></i></span>Portfolio<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
			
				<ul class="nav nav-pills" id="portfolio-filters">
					<li class="active"><a href="#" data-filter="*">All</a></li>
					<li><a href="#" data-filter=".portfolio-type1">Websites</a></li>
					<li><a href="#" data-filter=".portfolio-type2">Logos</a></li>
				</ul>
			
				<!-- Featured Portfolio items -->
				<div class="row" id="portfolio-items">
			
					<div class="span3 portfolioitem portfolio-type1">
						<img src="./images/thumb01.jpg" alt="">
						<div class="portfolioitem-hoverinfo">
							<h3>Lorem ipsum</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
							<div class="portfolioitem-actions">
								<a href="./images/01.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
								<a href="#portfolioitem-1" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
							</div>
						</div>
					</div><!--/portfolioitem-->
					
					<div class="span3 portfolioitem portfolio-type2">
						<img src="./images/thumb02.jpg" alt="">
						<div class="portfolioitem-hoverinfo">
							<h3>Cras gravida fringilla</h3>
							<p>Donec eros magna, blandit eu tempus a, ornare quis nulla.</p>
							<div class="portfolioitem-actions">
								<a href="./images/02.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
								<a href="#portfolioitem-2" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
							</div>
						</div>
					</div><!--/portfolioitem-->
					
					<div class="span3 portfolioitem portfolio-type3">
						<img src="./images/thumb03.jpg" alt="">
						<div class="portfolioitem-hoverinfo">
							<h3>Nulla diam lacus</h3>
							<p>Curabitur risus lacus, congue eget condimentum id, feugiat et nisl.</p>
							<div class="portfolioitem-actions">
								<a href="./images/03.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
								<a href="#portfolioitem-3" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
							</div>
						</div>
					</div><!--/portfolioitem-->
					
					<div class="span3 portfolioitem portfolio-type1">
						<img src="./images/thumb04.jpg" alt="">
						<div class="portfolioitem-hoverinfo">
							<h3>Proin quam lacus</h3>
							<p>Proin quam lacus, dapibus non sodales ac, pharetra et urna.</p>
							<div class="portfolioitem-actions">
								<a href="./images/04.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
								<a href="#portfolioitem-4" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
							</div>
						</div>
					</div><!--/portfolioitem-->
					
					<div class="span3 portfolioitem portfolio-type2">
						<img src="./images/thumb05.jpg" alt="">
						<div class="portfolioitem-hoverinfo">
							<h3>Tellus ligula</h3>
							<p>Cras vestibulum, mi aliquam molestie tincidunt, tellus ligula tempor neque. </p>
							<div class="portfolioitem-actions">
								<a href="./images/05.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
								<a href="#portfolioitem-5" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
							</div>
						</div>
					</div><!--/portfolioitem-->
					
					<div class="span3 portfolioitem portfolio-type1">
						<img src="./images/thumb07.jpg" alt="">
						<div class="portfolioitem-hoverinfo">
							<h3>In sed eleifend orci</h3>
							<p>Morbi ultrices ullamcorper magna, quis placerat libero pretium at.</p>
							<div class="portfolioitem-actions">
								<a href="./images/07.jpg" class="tips img-circle lightbox" title="Preview image" data-placement="bottom" data-fancybox-group="portfolioimages"><span class="glyphicons white zoom_in"><i></i></span></a>
								<a href="#portfolioitem-6" class="tips more-info img-circle" title="View Project" data-placement="bottom"><span class="glyphicons white share"><i></i></span></a>
							</div>
						</div>
					</div><!--/portfolioitem-->
			
			
			
				</div><!--/row-->
				<!-- /Featured Portfolio Items -->
			
				<div class="row" id="full-portfolio-items">
					<div class="span9">
			
						<a href="#" class="btn btn-primary hidden" id="portfolio-back">&larr; Back to Portfolio List</a>
			
						<!-- This is a Portfolio item -->
						<div class="portfolioitem-content hidden" id="portfolioitem-1">
							<img src="./images/01.jpg" alt="">
							<h2 class="primary-color">Lorem ipsum</h2>
							
							<h3>Lectus tristique scelerisque</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>
							
							
							<ul class="pager">
								<li class="previous"><a href="#portfolioitem-6" class="">&larr; Previous</a></li>
								<li class="next"><a href="#portfolioitem-2" class="">Next &rarr;</a></li>
							</ul>
						
						</div>
						<!-- /Portfolio item -->
						
						<!-- This is a Portfolio item -->
						<div class="portfolioitem-content hidden" id="portfolioitem-2">
							<img src="./images/02.jpg" alt="">
							<h2 class="primary-color">Cras gravida fringilla</h2>
							
							<h3>Accumsan dolor ornare</h3>
							<p>Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla. Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis. Nunc cursus dignissim sodales. </p>
							
							
							<ul class="pager">
								<li class="previous"><a href="#portfolioitem-1" class="">&larr; Previous</a></li>
								<li class="next"><a href="#portfolioitem-3" class="">Next &rarr;</a></li>
							</ul>
						
						</div>
						<!-- /Portfolio item -->
						
						<!-- This is a Portfolio item -->
						<div class="portfolioitem-content hidden" id="portfolioitem-3">
							<img src="./images/03.jpg" alt="">
							<h2 class="primary-color">Nulla diam lacus</h2>
							
							<h3>Etiam sagittis, felis id </h3>
							<p>Etiam eleifend sem ornare lacus ullamcorper interdum. Aenean nec justo nisl, vel cursus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque, eros at vestibulum feugiat, ante urna cursus turpis, in rhoncus enim lorem ac nisl. Phasellus tristique ultricies metus, a condimentum lacus sagittis non. Phasellus euismod nulla eget lacus aliquam auctor. </p>
							<p>Sed nisl sem, semper id sollicitudin vitae, pharetra at tellus. Ut eu sem vitae erat rhoncus posuere. Praesent hendrerit, nunc nec molestie bibendum, leo metus volutpat lacus, a luctus ante massa a lectus. Etiam sagittis, felis id dignissim pulvinar, purus lorem tempor lectus, et suscipit mauris lorem et elit. </p>
							
						
							<ul class="pager">
								<li class="previous"><a href="#portfolioitem-2" class="">&larr; Previous</a></li>
								<li class="next"><a href="#portfolioitem-4" class="">Next &rarr;</a></li>
							</ul>
						
						</div>
						<!-- /Portfolio item -->
						
						<!-- This is a Portfolio item -->
						<div class="portfolioitem-content hidden" id="portfolioitem-4">
							<img src="./images/04.jpg" alt="">
							<h2 class="primary-color">Proin quam lacus</h2>
							
							<h3>Subtitle</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.</p>
							
							
							<ul class="pager">
								<li class="previous"><a href="#portfolioitem-3" class="">&larr; Previous</a></li>
								<li class="next"><a href="#portfolioitem-5" class="">Next &rarr;</a></li>
							</ul>
						
						</div>
						<!-- /Portfolio item -->
						
						<!-- This is a Portfolio item -->
						<div class="portfolioitem-content hidden" id="portfolioitem-5">
							<img src="./images/05.jpg" alt="">
							<h2 class="primary-color">Tellus ligula</h2>
							
							<h3>ullam pharetra, metus id semper fringilla</h3>
							<p>Praesent suscipit pellentesque est, non blandit ante feugiat in. Aliquam erat volutpat. Donec lorem sem, vestibulum ac vehicula in, tempus sit amet sem. Curabitur nec ante risus. Integer libero nunc, euismod in mattis ac, auctor in arcu. Nullam pharetra, metus id semper fringilla, est lorem euismod lectus, at dignissim elit turpis et dolor. Praesent adipiscing, metus eget lacinia viverra, dolor nibh consequat erat, a rutrum leo nulla non metus. </p>
							
							
							<ul class="pager">
								<li class="previous"><a href="#portfolioitem-4" class="">&larr; Previous</a></li>
								<li class="next"><a href="#portfolioitem-6" class="">Next &rarr;</a></li>
							</ul>
							
						</div>
						<!-- /Portfolio item -->
						
						<!-- This is a Portfolio item -->
						<div class="portfolioitem-content hidden" id="portfolioitem-6">
							<img src="./images/07.jpg" alt="">
							<h2 class="primary-color">In sed eleifend orci</h2>
							
							<h3>Enim mauris rhoncus elit</h3>
							<p>Phasellus condimentum pulvinar tincidunt. Phasellus vehicula, felis id auctor placerat, nunc magna feugiat nunc, vitae tempor metus lorem ac quam. In vel lacus nibh, a varius metus.</p>
							<p>Suspendisse ut tortor ligula, id fringilla mi. Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie. Etiam eget nulla vel sem tristique dapibus. In orci justo, pharetra vel scelerisque eu, gravida vel felis. Etiam mattis blandit rutrum. Maecenas viverra massa sed sem feugiat sed mollis dolor venenatis. In aliquet, sem et cursus scelerisque, enim mauris rhoncus elit, sit amet ornare massa metus non lectus. </p>
							
							
							<ul class="pager">
								<li class="previous"><a href="#portfolioitem-5" class="">&larr; Previous</a></li>
								<li class="next"><a href="#portfolioitem-1" class="">Next &rarr;</a></li>
							</ul>
							
						</div>
						<!-- /Portfolio item -->
			
				</div><!--/span9-->
			
			</div><!--/row-->
			
			
				
		</div><!--/section-->
		<span class="clear"></span>	
		
		<div class="section noprint" id="blog">
			<h2 class="section-title"><span class="glyphicons pencil"><i></i></span>Blog<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
			
			<!-- Featured Blog items -->
			<div class="row" id="blog-items">
				<div class="span3 blogitem">
					<img src="./images/CobarLogo.png" alt="">
					<h3>Cobar Systems Blog</h3>
					<div class="blogitem-date">
						<span class="month">MAR</span>
						<span class="day">15</span>
					</div>
					<div class="blogitem-hoverinfo">
						<p>For those interested in news and trends of the business continuity world.</p>
						<div class="blogitem-actions">
							<a href="www.cobarsystems.com/blog" class="tips img-circle lightbox" title="View Blog" data-placement="bottom" data-fancybox-group="blogimages"><span class="glyphicons white zoom_in"><i></i></span></a>
							
						</div>
					</div>
				</div>
				
				
			
			</div><!--/row-->
			<!-- /Featured Blog items -->
			
			<div class="row" id="full-blog-items">
				<div class="span9">
					
					<a href="http://www.cobarsystems.com/blog" class="btn btn-primary hidden" id="blog-back">&larr; Back </a>

					<!-- This is a blog item -->
					<div class="blogitem-content hidden" id="blogitem-1">
						<img src="./images/blog01.jpg" alt="">
						<h2 class="primary-color">Cobar Systems Blog</h2>
						<div class="blogmeta muted">
							<div><span class="glyphicons user"><i></i></span>Johann Barlach</div>
							<div><span class="glyphicons calendar"><i></i></span>MAR 123, 2013</div>
							<div><span class="glyphicons inbox"><i></i></span>Category</div>
							<div><span class="glyphicons tags"><i></i></span>Business Continuity</div>
						</div>
						<h3>Cobar Systems Blog/h3>
						<p>Cobar Systems Blog</p>
						
										
					</div>
					<!-- / Blog item -->
					
					
				</div><!--/span9-->
			</div><!--/row-->

					<div class="section hobbies" id="hobbies">
		  		<h2 class="section-title"><span class="glyphicons heart_empty"><i></i></span>Interests<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
			  	
			  	<div class="row">
			  		<div class="span9">
			  			<span class="label tips mobtoo" title="I love sci-fy & action movies">
			  				<span class="glyphicons white film"><i></i>Movies</span></span>
			  			<span class="label tips mobtoo" title="PADI Open Waters<br/>About 50 dives all around the world: Thailand, Indonesia, Malaysia, Mediterranean Sea…">
			  				<span class="glyphicons white scuba_diving"><i></i>Scuba Diving</span></span>
			  			<span class="label"><span class="glyphicons white pool"><i></i>Swimming</span></span>
			  			<span class="label"><span class="glyphicons white bicycle"><i></i>Bicycling</span></span>
			  			<span class="label"><span class="glyphicons white baseball"><i></i>Finance</span></span>
			  			<span class="label"><span class="glyphicons white gamepad"><i></i>Video games</span></span>
			  			<span class="label"><span class="glyphicons white globe"><i></i>Traveling</span></span>
			  			<span class="label"><span class="glyphicons white cake"><i></i>Cooking</span></span>
			  		</div>
			  	</div>
			  	
		  	</div><!--/section-->
			
		</div><!--/section-->
		<span class="clear"></span>
			  
		
		<div class="section noprint" id="contact">
				<h2 class="section-title"><span class="glyphicons message_flag"><i></i></span>Contact<a href="#phone-navbar" class="top visible-phone"><span class="glyphicons white up_arrow"><i></i></span></a></h2>
				
		
				
			    <form method="post" action="#contact" class="form-horizontal">
				    <fieldset>
					    <legend>Send me a message using the form below</legend>
					    
						 <div class="control-group">
							<label class="control-label" for="form-subject">Subject</label>
							<div class="controls">
								<div class="input-append">
									<input type="text" placeholder="Subject" id="form-subject" name="subject" class="input-xlarge" value="">
									<span class="add-on"><span class="glyphicons circle_question_mark"><i></i></span></span>
								</div>
							</div>
						 </div>
						 
						 <div class="control-group">
							<label class="control-label" for="form-message">Message</label>
							<div class="controls">
								<div class="input-append">
									<textarea rows="6" placeholder="Your message" id="form-message" name="message" class="input-xlarge"></textarea>
									<span class="add-on"><span class="glyphicons pen"><i></i></span></span>
								</div>
							</div>
						 </div>
						 
						 <div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary input-medium" name="submit">Submit</button>
							</div>
						 </div>
						
					    
				    </fieldset>
			    </form>
			</div><!--/section-->

          
        </div><!--/span9-->
        <!-- END OF THE MAIN CONTENT -->
        
        
        
		</div><!--/row-->
      
		<div id="footer">
		<p>&copy; Johann Barlach - 2013</p>
		</div>

</div><!--/.container-->

</body>
</html>